*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #FFFFFF;
    color: #333;
    font-family: "Open Sans",Arial,sans-serif;
    overflow-x:hidden;
}
.header{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10%;
    margin-top: -110px;
    background-color: white;
    position: fixed;
}
.left-side{
    justify-content: flex-start;
    margin-left: 13px;
    margin-top: 15px;
}
.right-side{
    justify-content: flex-end;
    margin-left: 72%;

}
#right-icons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 15px;
}
.svg-stroke-container{
    margin: 0 6px;
    cursor: pointer;
    color: #D70F64;
    font-size: 25px;
}
#text{
    font-size: 20px;
    margin: 0 5px;
    font-weight: bold;
}
#vertical-line{
    font-size: 20px;
    font-weight: bold;
    margin: 0 5px;
}

.fc-center{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 110px;
    margin-left: 70px;    
}
.fc-center-image{
    z-index: -1;
    position: absolute;
    margin-left: 82%;
    display: block;
    min-height: 69%;
    width: 30%;
    float: right;
    background-size: cover;
    
}
.fc-center h1{
    font-family:"Open Sans",Arial,sans-serif;
    font-weight: 300;
    line-height: 1.4;
    color: #333;
    margin-bottom: 70px;
}
.fc-input form{
    display: flex;
    box-shadow: 0 2px 28px 0 rgb(0 0 0 / 12%);
    max-width: 960px;
    flex-wrap: nowrap;
    background: #fff;
    padding: 16px;
}
.fc-input form input{
    border: 1px solid lightgrey;
    text-indent: 10px;
    margin: 10px;
    border-radius: 10px;
    width: 550px;
    height: 60px;
}
.fc-input button{
    height: 60px;
    width: 150px;
    color: white;
    background-color: #C60D5C;
    margin: 10px;
    border-radius: 10px;
    font-weight: bold;
    border-color: #C60D5C;
    border-bottom: none;
    cursor: pointer;
}
.fc-input-paragraph{
      font-size: 25px;
      color: grey;
      margin: 20px;
}
.section-2{
    display: flex;
    flex-direction: column;
    margin-top: 220px;
}
#front-paragraph{
    color: black;
    font-size: 25px;
    margin-left: 60px;
    /* margin-bottom: 75px; */
    font-family: Arial, Helvetica, sans-serif;
    z-index: 1;
    margin-top: -20px;
}

.bcg-image{
    background-image: url(https://images.deliveryhero.io/image/foodpanda/home-vendor-pk.jpg?width=800&height=512);
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* margin-top: 25px; */
    max-height: 412px;
    margin-top: 5px;
    width: 110vw;
    
}

.sec-2-box{
    width: 600px;
    height: 350px;
    background-color: white;
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 120px;
    margin-left: 80px;
    box-shadow: 2px 3px 15px lightgrey;
   
}
.sec-2-box h4,p{
    color: #333;
    margin: 20px;
}

#sec-2-button{
    height: 45px;
    width: 260px;
    color: white;
    background-color: #C60D5C;
    margin-top: 18px;
    margin-left: 320px;
    border-radius: 5px;
    font-weight: bold;
    border-color: #C60D5C;
    border-bottom: none;
    cursor: pointer;
    text-align: center;
}

.section-3{
    display: flex;
    flex-direction: column;
    margin-top: 120px;
}
.section-3 h2{
    font-weight: 300;
    line-height: 1.25em;
    color: #333;
    display: block;
    margin-left: 55px;
    margin-bottom: 5px;
}
.all-images{
    display: flex;
    flex-direction: row;
    margin-left: 50px;
}
.images{
    width: 450px;
    height: 300px;
    margin: 6px 6px;
}
#sec-3-image-name{
    position: absolute;
    margin-top: -45px;
    color: white;
    font-weight: 900;
    font-size: 30px;
}
.section-4{
    display: flex;
    flex-direction: column;

}
.section-4 h2{
    font-weight: 300;
    line-height: 1.25em;
    color: #333;
    display: block;
    margin: 15px 0 15px 40px;
    font-size: 30px;
}
.sec-4-content{
    display: flex;
    flex-direction: column;
    background-color: #C60D5C;
    height: 300px;
    width: 100%;
}
.sec-4-content-image{
    width: 500px;
    height: 500px;
    float: right;
}

.sec-4-h3{
    color: white;
    margin-left: 50px;
    font-size: 30px;
    margin-top: 80px;
    
}
.sec-4-p{
    color:  white;
    font-size: 20px;
    margin-left: 50px;
    margin-top: 30px;

}

.svg-images{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 35px;
    margin-top: 20px;
    margin-bottom: 85px;
}
.section-5{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 30px;
}
#sec-5-bcg-h1{
    color: #F5F5F5;
    /* color: blue; */
    font-size: 150px;
    letter-spacing: 8px;
    position: absolute;
    z-index: -1;
    left: 40px;
    top: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
}
#sec-5-front-h2{
    color:#333;
    font-size: 40px;
    z-index: 1;
    position: relative;
    left: 32px;
    top: 110px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    

}
.bcg-image-1{
    background-image: url("https://images.deliveryhero.io/image/foodpanda/home-corporate-pk.jpg?width=2800&height=1792");
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 130px;
}
#front-paragraph-sec-5{
    color: black;
    font-size: 30px;
    margin: 10px 0 10px 35px;
    font-family: Arial, Helvetica, sans-serif;
}

.sec-5-box{
    width: 520px;
    height: 250px;
    background-color: white;
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 240px;
    margin-left: 80px;
    box-shadow: 2px 3px 15px lightgrey;
}
.sec-5-box h4,p{
    margin: 20px 0 5px 25px;
    color: #333;
    font-family: "Open Sans",Arial,sans-serif;
}
#sec-5-button{
    height: 45px;
    width: 260px;
    color: white;
    background-color: #C60D5C;
    margin-top: 20px;
    margin-left: 200px;
    border-radius: 5px;
    font-weight: bold;
    border-color: #C60D5C;
    border-bottom: none;
    cursor: pointer;
    text-align: center;
}
